/* filter---------------------- */
.filter{
    &-ul{
        justify-content: center;
    }
    &-li-bottom{
        border-bottom: 8px solid $primary;
    }
    &-li{
        width: 33.33333%;
        text-align: center;
        border-right: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
    }
    &-li a{
        font-size: 32px;
        font-weight: normal;
        padding: 24px 0;
        display: block;
        @include mobile{
            font-size: 16px;
        }
    }
    &-li a:hover{
        position: relative;
        top:2px;
        left: 2px
    }
}



/* product----------------------- */

.product{
    &-title{
        text-align: center;
        line-height: 1.5;
        margin-top: 80px;
        margin-bottom: 32px;
    }
    &-h2{
        font-size: 42px;
        @include mobile{
            font-size: 24px;
        }
    }
    &-h3{
        font-size: 32px;
        @include mobile{
            font-size: 24px;
        }
    }
    
    &-ul{
        flex-wrap: wrap;
        @include mobile{
            display: block;
        }
    }
    
    &-li{
        margin-bottom: 80px;
    }
    .li-col-4{
        width: 25%;
    }
    .li-col-3{
        width: 33.33333%;
    }

    .li-col-3,.li-col-4{
        @include mobile{
            width: 100%;
        }
    }
    
    .cards{
        margin: 0 12px;
        &-info{
            justify-content: space-between;
            line-height: 1.5;
            font-size: 1.8vw;
            @include mobile{
                font-size: 24px;
            }
        }
    }

    .color1,.color2{
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }
    .color1{
        background-color:#5F3E2D;
        margin-right: 8px;
    }
    
    .color2{
        background-color:#B75929;
    }
    
}


/* page--------------------------- */

.page{
    &-ol{
        justify-content: center;
        padding-bottom: 80px;
    }
    
    &-ol li{
        border: 1px solid #555555;
        margin-left: -1px;
    }
    
    &-li{
        border: 1px solid #555555;
    }
    
    &-prev a,&-next a{
        padding: 12px 12px;
        display: block;
        color: #555555;
    }
    &-li a{
        padding: 12px 16px;
        display: block;
        color: #555555;
    }
    .this-page a{
        color: #fff;
    }

    &-li a:hover,&-prev a:hover,&-next a:hover{
        background: $dark;
        color:$white;
    }
    

}





