<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="filter">
      <div class="container mx-auto">
          <ul class="filter-ul d-flex">
              <li class="filter-li filter-li-bottom">
                  <h2><a class="c-dark" href="categoria1.html">OPTICAL</a></h2>
              </li>
              <li class="filter-li">
                  <h2><a class="c-dark" href="categoria2.html">SUNGLASSES</a></h2>
              </li>
              <li class="filter-li">
                  <h2><a class="c-dark" href="categoria3.html">FUNCTIONAL</a></h2>
              </li>
          </ul>
      </div>
      <div class="filter-img-container d-flex">
          <div class="filter-img"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true" alt="..."></div>
          <div class="filter-img"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true" alt=""></div>
      </div>
  </section>

  <section class="product">
      <div class="container mx-auto">
          <div class="product-title">
              <h2 class="product-h2">Celluloid Combi</h2>
              <h3 class="product-h3">賽璐珞鈦金屬混合鏡框</h3>
          </div>

          <ul class="product-ul d-flex">
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li class="product-li li-col-4">
                  <a href="#">
                      <div class="cards">
                          <div class="cards-img">
                              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="...">
                          </div>
                          <div class="cards-info c-dark d-flex">
                              <h2>BJ41600S</h2>
                              <p>NTD3,490</p>
                          </div>
                          <div class="card-color d-flex">
                              <div class="color1"></div>
                              <div class="color2"></div>
                          </div>
                      </div>
                  </a>
              </li>
          </ul>

          <ol class="page page-ol d-flex">
              <li class="bg-light page-prev"><a href="#">上一頁</a></li>
              <li class="page-li"><a href="#">1</a></li>
              <li class="page-li bg-dark this-page"><a href="#">2</a></li>
              <li class="page-li"><a href="#">3</a></li>
              <li class="page-li"><a href="#">4</a></li>
              <li class="page-li"><a href="#">5</a></li>
              <li class="bg-light page-next "><a href="#">下一頁</a></li>
          </ol>
      </div>
  </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
